@use '../abstracts' as *;

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html body {
  background-color: $color-black;
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  line-height: 1 !important;
  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-secondary;
}
