@font-face {
  font-family: 'a Alloy Ink';
  src: url('../../public/aAlloyInk.woff') format('woff'),
    url('../../public/aAlloyInk.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Messages';
  src: url('../../public/Messages.woff') format('woff'),
    url('../../public/Messages.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
