@font-face {
  font-family: 'a Alloy Ink';
  src: url('../../../public/fonts/aAlloyInk.woff') format('woff'),
    url('../../../public/fonts/aAlloyInk.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
