// COLOR VARIABLES
$color-primary: orangered;
$color-secondary: yellow;
$color-tertiary: magenta;

$color-white: #fff;
$color-black: #000;

$color-gray-dark: darkslategray;

// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'a Alloy Ink';
