// COLOR VARIABLES
$color-primary: orangered;
$color-secondary: yellow;
$color-tertiary: magenta;

$color-white: #fff;
$color-black: #000;

$color-gray-dark: darkslategray;

// FONT VARIABLES
$font-primary: 'Messages';
$font-secondary: 'a Alloy Ink';
$font-text: 'Open Sans', sans-serif;

// FONT SIZE
$font-size-primary: 2rem;
$font-size-secondary: 2rem;
$font-size-page-title: 4rem;

// LETTER SPACING
$letter-spacing-primary: 1px;
$letter-spacing-secondary: 3px;
$letter-spacing-page-title: 3px;
