// COLOR VARIABLES
$color-primary: orangered;
$color-secondary: yellow;
$color-tertiary: magenta;

$color-white: #fff;
$color-black: #000;

$color-gray-dark: darkslategray;

// FONT VARIABLES
$font-primary: 'Messages';
// $font-primary: 'Roose-Sally';
// $font-primary: 'Open Sans', sans-serif;
$font-secondary: 'a Alloy Ink';

// FONT SIZE
$font-size-primary: 2rem;
$font-size-secondary: 2rem;

// LETTER SPACING
$letter-spacing-primary: 1px;
$letter-spacing-secondary: 3px;
