@use '../abstracts' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html body {
  background-color: $color-black;
}

::selection {
  background-color: $color-secondary;
}
